<% if user_signed_in? %>
  <% if @is_questioner && !@resolved %>

      <div class='answer_content'>
        <h4>回答一覧</h4>
        <% if @answers %>
          <% @answers.each do |answer| %>
            <p>
              <%= link_to answer.user.nickname, "/users/#{answer.user_id}" %>
              <%= answer.text %>
              <h3>
                <%= link_to "ベストアンサーに選ぶ", "#{@question.id}/answers/#{answer.id}/ba_confirm", class: '' %>
              </h3>
            </p>
          <% end %>
        <% end %>
       </div>

  <% else %>
    <% if @answerable %>
      <h3>回答済み </h3>
        <h3><%= link_to "回答する", new_user_session_path %></h3>
        <div class='answer_content'>
        <h4>回答一覧</h4>
              <% if @answers %>
                <% @answers.each do |answer| %>
                  <p>
                    <%= link_to answer.user.nickname, "/users/#{answer.user_id}" %>
                    <%= answer.text %>
                  </p>
                <% end %>
              <% end %>
        </div>
    <% else %>
      <div class='answer_form'>
        <%= form_with(model: [@question, @answer], local: true, url: "#{@question.id}/confirm") do |f| %>
          <p>
          <%= f.label :text, "回答本文" %><br>
          <%= f.text_area :text %><br>
          </p>
          <%= f.submit "投稿" %>
        <% end %>
      </div>
    <% end %>

  <% end %>
<% elsif @resolved %>
    質問者&被質問者(ログイン済み)&被質問者(未ログイン)
    ・①解決済みページ
<% else %>
  <h3><%= link_to "回答する", new_user_session_path %></h3>
  <div class='answer_content'>
  <h4>回答一覧</h4>
        <% if @answers %>
          <% @answers.each do |answer| %>
            <p>
              <%= link_to answer.user.nickname, "/users/#{answer.user_id}" %>
              <%= answer.text %>
            </p>
          <% end %>
        <% end %>
  </div>
<% end %>






<%# 質問者（ログイン済み）
・①解決済みページ
・②回答受付中ページ（BA選定）

非質問者（ログイン済み）
・①解決済みページ
・③回答受付中（回答できる）
  ・④回答済み

非質問者（未ログイン）
・①解決済みページ
・⑤回答受付中（回答できない） %>
