<div class='container'>
  <section><h3 class="arrowTtl"><%= @category.name %></h3></section>
    <% @questions.each do |question| %>
      <div class="qandaWrap">
          <div class="qandaItem">
              <article>
                  <div class="qandaItemStatus">
                       <% if question.done.present? %>
                        <a href="#" class="answer">解決済み</a>
                       <% else %>
                        <a href="#" class="question">回答受付中</a>
                       <% end %>
                      <%= link_to "#{@category.name}", "/questions/category/#{question.category_id}", class: "qandaItemStatusCat", method: :get %>
                  </div>
                  <section><h3> <%= link_to "#{question.title}", "/questions/#{question.id}", method: :get %></h3></section>
                  <p>
                      <%= link_to "#{question.text}", "/questions/#{question.id}", method: :get %>
                  </p>
                  <div class="qandaItemFooter">
                      <time><%= question.created_at %></time>
                      <a href="#">2</a>
                      <a href="#">2</a>
                  </div>
              </article>
          </div>
      </div>
    <% end %>
</div>

