<%= form_for @question do |f| %>
  <div class="create_qa">
     <h2 class="qandaTtl">
        <span class="shitumon">確認画面</span>
    </h2>

    <div class='QA'>
      <p>
        <div class='inputMy'>タイトル</div>
        <div class='answerFirst'><%= @question.title %></div>
        <%= f.hidden_field :title %>
      </p>
      <p>
        <div class='inputMy'>質問本文</div>
        <div class='answerSecond'><%= @question.text %></div>
        <%= f.hidden_field :text %>
      </p>
      <p>
        <div class='inputMy'>カテゴリ</div>
        <div class='answerThird'><%= @question.category.name %></div>
        <%= f.hidden_field :category_id %>
      </p>
      <p>
        <div class='inputMy'>お礼</div>
        <div class='answerThird'><%= @question.point %></div>
        <%= f.hidden_field :point %>
      </p>
      <div class="btn-wrapper">
          <div class="qa_back_btn">
          <%= link_to "戻る", controller: "questions", action: "new", title: @question.title, text: @question.text, category_id: @question.category.id, point: @question.point %>
          </div>

         <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="質問投稿"
          data-amount="<%= @question.point %>"
          data-locale="auto"
          data-label="投稿する"
          data-currency="jpy">
        </script>
      </div>
    </div>
  </div>
<% end %>

