<h1>トップ▶︎<%= @question.category.name %></h1>
<div class='question_content'>
  <h2><%= @question.title %></h2>
  <p><%= @question.user.nickname %></p>
  <p><%= @question.user.created_at %></p>
  <p><%= @question.text %></p>
</div>

<% if user_signed_in? %>
  <div class='answer_form'>
  <%= form_for [@question, @answer] do |f| %>

      <%= f.text_area :text, placeholder: '回答を入力してください' %>
      <%= f.submit "回答する" %>
  <% end %>
  </div>
<% else %>
  <h3>
    <%= link_to "回答する", new_user_session_path %>
  </h3>

<% end %>

<div class='answer_content'>
<h4>回答一覧</h4>
      <% if @answers %>
        <% @answers.each do |answer| %>
          <p>
            <%= link_to answer.user.nickname, "/users/#{answer.user_id}" %>
            <%= answer.text %>
          </p>
        <% end %>
      <% end %>
</div>
