<div class=container>
  <section><h3 class="question_status"><%= @question.category.name %></h3></section>
    <div class="qandaWrap">
      <div class="qandaItem">
          <article>
              <div class="qandaItemStatus">
                <% if @resolved %>
                  <a href="#" class="answer">解決済み</a>
                  <div class="point_show"><div class="point_show3"><span class="point_show2"><%= @question.point %></span></div></div>
                <% else %>
                  <a href="#" class="question">回答受付中</a>
                  <div class="point_show"><div class="point_show3"><span class="point_show2"><%= @question.point %></span></div></div>
                <% end %>
              </div>
              <section><h3><div class="question_title"><%= @question.title %></div></h3></section>
              <div class="qanda_middle_items">
                  <div class='question_user'>
                    <%= image_tag  @question.user.image, class: "question_user_image" %>
                    <%= link_to @question.user.user_name, "/users/#{@question.user_id}", class: "question_user_name" %>
                  </div>
                    <time><%= @question.created_at %></time>
                    <a href="#"><%= @question.answers.count %></a>
                    <a href="#"><%= @question.impressionist_count %></a>
              </div>
              <p>
                  <%= simple_format(@question.text) %>

                  <% if current_user && @question.id == current_user.id %>
                    <% if @all_answers.empty? %>
                        <div class=" ba_btn answer_delete_btn">
                        <ul>
                            <li><%= link_to "削除", question_path(@question), method: :delete, class: 'answer_delete_btn', data: { confirm: '削除しますか？' }%></li>
                        </ul>
                        </div>
                    <% end %>
                  <% end %>
              </p>
          </article>
      </div>
     </div>
</div>


<% if user_signed_in? %>
  <% if @is_questioner && !@resolved %>

    <%= render :file => "/questions/show_render/_ba.html.erb" %>

  <% else %>
    <% if @answerable && !@resolved %>
      <%= render :file => "/questions/show_render/_answered.html.erb" %>
    <% elsif @resolved %>

      <%= render :file => "/questions/show_render/_resolved.html.erb" %>

    <% else %>
    <%= render :file => "/questions/show_render/_answerable.html.erb" %>
    <% end %>

  <% end %>
<% else %>

  <% if @resolved %>

    <%= render :file => "/questions/show_render/_resolved.html.erb" %>

  <% else %>
    <%= render :file => "/questions/show_render/_not_login.html.erb" %>

  <% end %>
<% end %>
