<h1>トップ▶︎<%= @question.category.name %></h1>
<div class='question_content'>
  <h2><%= @question.title %></h2>
  <p><%= @question.user.nickname %></p>
  <p><%= @question.user.created_at %></p>
  <p><%= @question.text %></p>
</div>
