<div class=container>
  <section><h3 class="question_status"><%= @question.category.name %></h3></section>
    <div class="qandaWrap">
      <div class="qandaItem">
          <article>
              <div class="qandaItemStatus">
                <% if @resolved %>
                  <a href="#" class="answer">解決済み</a>
                <% else %>
                  <a href="#" class="question">回答受付中</a>
                <% end %>
              </div>
              <section><h3><div class="question_title"><%= @question.title %></div></h3></section>
              <div class="qanda_middle_items">
                  <div class='question_user'>
                    <%= image_tag  @question.user.image, class: "question_user_image" %>
                    <%= link_to @question.user.nickname, "/users/#{@question.user_id}", class: "question_user_name" %>
                  </div>
                    <time><%= @question.created_at %></time>
                    <a href="#">2</a>
                    <a href="#">2</a>
              </div>
              <p>
                  <%= @question.text %>
              </p>
          </article>
      </div>
     </div>
</div>


<% if user_signed_in? %>
  <% if @is_questioner && !@resolved %>

    <%= render :file => "/questions/show_render/_ba.html.erb" %>

  <% else %>
    <% if @answerable && !@resolved %>

      <h3>回答済み </h3>
        <div class='answer_content'>
        <h3>回答一覧</h3>
              <% if @answers %>
                <% @answers.each do |answer| %>
                  <p>
                    <%= link_to answer.user.nickname, "/users/#{answer.user_id}" %>
                    <%= answer.text %>
                  </p>
                <% end %>
              <% end %>
        </div>

    <% elsif @resolved %>

      <%= render :file => "/questions/show_render/_resolved.html.erb" %>

    <% else %>
    <%= render :file => "/questions/show_render/_answerable.html.erb" %>
    <% end %>

  <% end %>
<% else %>

  <% if @resolved %>

    <%= render :file => "/questions/show_render/_resolved.html.erb" %>

  <% else %>

    <h3><%= link_to "回答する", new_user_session_path %></h3>
    <div class='answer_content'>
    <h3>回答一覧</h3>
          <% if @answers %>
            <% @answers.each do |answer| %>
              <p>
                <%= link_to answer.user.nickname, "/users/#{answer.user_id}" %>
                <%= answer.text %>
              </p>
            <% end %>
          <% end %>
    </div>

  <% end %>
<% end %>
