<!-- main contents -->
    <main class="main">
      <% if user_signed_in? %>
          <div class="container">
            <div class="howTo">
                <section>
                    <h2 class="howToTtl">
                        <%= image_tag("howTo_ttl.png", class: "pc", alt: "QOTAELUって？") %>
                        <%= image_tag("sp_howTo_ttl.png", class: "sp", alt: "QOTAELUって？") %>
                    </h2>
                </section>

                <div class="js-section-with-image-list">
                    <section-with-image-list />
                </div>

                <div class="js-discussion-button-list">
                    <discussion-button-list
                        :is-pc="<%= request.from_pc? %>"
                        :is-login="true"
                        question-link="<%= url_for controller: 'questions', action: 'new' %>"
                        answer-link="<%= url_for controller: 'questions', action: 'open' %>"
                    />
                </div>
            </div>
        </div>

      <% else %>

        <div class="container">
            <div class="howTo">
                <section>
                    <h2 class="howToTtl">
                        <%= image_tag("howTo_ttl.png", class: "pc", alt: "QOTAELUって？") %>
                        <%= image_tag("sp_howTo_ttl.png", class: "sp", alt: "QOTAELUって？") %>
                    </h2>
                </section>

                <div class="js-section-with-image-list">
                    <section-with-image-list />
                </div>

                <div class="js-discussion-button-list">
                    <discussion-button-list
                        :is-pc="<%= request.from_pc? %>"
                        :is-login="false"
                        question-link="<%= url_for controller: 'questions', action: 'new' %>"
                        answer-link="<%= url_for controller: 'questions', action: 'open' %>"
                    />
                </div>
            </div>
        </div>
      <% end %>

        <div class="container">
            <div class="qanda">
                <section>
                    <h2 class="qandaTtl">
                        <span>みんなの</span>
                        <%= image_tag("qanda_q.png", alt: "Q") %>

                        <span>&amp;</span>
                        <%= image_tag("qanda_a.png", alt: "A") %>
                    </h2>
                </section>

                <section><h3 class="arrowTtl">ランキング</h3></section>
                <div class="qandaWrap">
                  <% @questions.each do |question| %>
                      <div class="qandaItem">
                          <article>
                              <div class="qandaItemStatus">
                                  <a href="#" class="question">回答受付中</a>
                                  <%= link_to "#{question.category.name}", "/questions/category/#{question.category_id}", class: "qandaItemStatusCat" %>
                              </div>
                              <section><h3> <%= link_to "#{question.title}", "/questions/#{question.id}", method: :get %></h3></section>
                              <p>
                                  <%= question.text %>
                              </p>
                              <div class="qandaItemFooter">
                                  <time><%= question.created_at %></time>
                                  <a href="#"><%= question.answers.count %></a>
                                  <a href="#"><%= question.impressionist_count %></a>
                              </div>
                          </article>
                      </div>
                  <% end %>
                </div>

                <section><h3 class="arrowTtl">回答受付中</h3></section>

                <div class="qandaWrap">
                  <% @questions.each do |question| %>
                      <div class="qandaItem">
                          <article>
                              <div class="qandaItemStatus">
                                  <a href="#" class="question">回答受付中</a>
                                  <%= link_to "#{question.category.name}", "/questions/category/#{question.category_id}", class: "qandaItemStatusCat" %>
                              </div>
                              <section><h3> <%= link_to "#{question.title}", "/questions/#{question.id}", method: :get %></h3></section>
                              <p>
                                  <%= question.text %>
                              </p>
                              <div class="qandaItemFooter">
                                  <time><%= question.created_at %></time>
                                  <a href="#"><%= question.answers.count %></a>
                                  <a href="#"><%= question.impressionist_count %></a>
                              </div>
                          </article>
                      </div>
                  <% end %>
                </div>

                <section><h3 class="arrowTtl">カテゴリー</h3></section>
                <div class="qandaWrap qandaWrapCat">
                    <ul>
                      <% @categories.each do |category| %>
                        <li><%= link_to "#{category.name}", category_path(category) %></li>
                      <% end %>
                    </ul>
                </div>

            </div>
        </div>


    </main>
