<div class="container">
  <section><div class="search_content">
    <div class='search_result arrowTtl2'>検索結果<%= @open_question_count %>件</div>
    </div>
  </section>
</div>

<div class='container qa_status_content'>
  <div class='left_content'>
        <div class='status_btn'><%= link_to "解決済み", resolved_point_search_index_path('q[:title_cont]': params[:q][:title_cont]) %></div>
        <div class='status_btn status_open'>回答受付中</div>
      </div>
      <div class='right_content'>
        <div class="dropdown2">
            <input id="tg2" class="dropInput2" type="checkbox">
            <label for="tg2" class="dropLabel2">
                <span class="userName">ポイント</span>
            </label>
            <ul class="menu2 animation2">
              <li class='item2_new top_item'><%= link_to "最新", open_search_index_path('q[:title_cont]': params[:q][:title_cont]) %></li>
              <li class='item2_new'><%= link_to "閲覧数", open_pv_search_index_path('q[:title_cont]': params[:q][:title_cont]) %></li>
          </ul>
        </div>
      </div>
</div>

<%= render file: "partials/_question_list.html.erb" %>
