
<%= form_with(model: @article, local: true, url: {action: 'confirm'}) do |f| %>
  <div class="container">
  <div class="create_qa">
    <h2 class="qandaTtl">
        <span class="shitumon">お知らせ投稿</span>
    </h2>

    <div class="QA">
      <p>
        <%= f.label :title, "タイトル(25文字以内)", class: 'inputMy' %><br>
        <%= f.text_field :title , class: 'answerFirst', required: true, maxlength: '25', value: @title %><br>
      </p>
      <p>
        <%= f.label :text, "本文(2000字以内)", class: 'inputMy' %><br>
        <%= f.text_area :text, class: 'answerSecond', required: true, maxlength: '2000', value: @text %><br>
      </p>

      <div class="btn-wrapper">
        <%= f.submit "確認画面へ", class: 'qa_submit_btn' %>
      </div>

    </div>

     </div>

  </div>
<% end %>
