    <footer class="footer">
        <div class="footerWrap">

            <a href="/" class="footerLogo sp"><%= image_tag("f_logo.png", alt: "QOTAELU") %></a>

            <nav class="footerNav">
                <ul>
                    <li><section><h4>QOTAELUについて</h4></section></li>
                    <li><%= link_to "運営会社", company_path, class: '' %></li>
                    <li><%= link_to "ヘルプ", help_path, class: '' %></li>
                    <li><%= link_to "お問い合わせ", contact_path, class: '' %></li>
                </ul>
                <ul>
                    <li><section><h4>プライバシーと利用規約</h4></section></li>
                    <li><%= link_to "プライバシーポリシー", privacy_policy_path, class: '' %></li>
                    <li><%= link_to "利用規約", rule_path, class: '' %></li>
                </ul>
                <ul>
                    <li><section><h4>SNS</h4></section></li>
                    <li><a href="/">Facebook</a></li>
                    <li><%= link_to "Twitter", "https://twitter.com/qotaelu" %></li>
                </ul>
            </nav>

            <a href="/" class="footerLogo pc"><%= image_tag("f_logo.png", alt: "QOTAELU") %></a>


            <small class="copyright">&copy; 2019 QOTAELU.</small>

        </div>
    </footer>
