<div class='container'>
    <% @questions.each do |question| %>
      <div class="qandaWrap">
          <div class="qandaItem">
              <article>
                  <div class="qandaItemStatus">
                       <% if question.done.present? %>
                        <a href="#" class="answer">解決済み</a>
                       <% else %>
                        <a href="#" class="question">回答受付中</a>
                       <% end %>
                       <div class="point_show"><div class="point_show3"><span class="point_show2"><%= question.point %></span></div></div>
                        <%= link_to "#{question.category.name}", category_path(question.category), class: "qandaItemStatusCat" %>
                  </div>
                  <section><h3> <%= link_to "#{question.title}", "/questions/#{question.id}", method: :get %></h3></section>
                  <p>
                      <%= link_to "#{question.text}", question_path(question), method: :get %>
                  </p>
                  <div class="qandaItemFooter">
                      <time><%= question.created_at %></time>
                      <a href="#"><%= question.answers.count %></a>
                      <a href="#"><%= question.impressions_count %></a>
                  </div>
              </article>
          </div>
      </div>
    <% end %>
    <%= paginate(@questions) %>
</div>
