<div class='container'>
    <% @questions.each do |question| %>
      <div class="qandaWrap">
          <div class="qandaItem">
              <article>
                  <div class="qandaItemStatus">
                       <% if question.done.present? %>
                        <a href="#" class="answer">解決済み</a>
                       <% else %>
                        <a href="#" class="question">回答受付中</a>
                       <% end %>
                       <div class="point_show"><div class="point_show3"><span class="point_show2"><%= question.point %></span></div></div>
                        <%= link_to "#{question.category.name}", category_path(question.category), class: "qandaItemStatusCat" %>
                  </div>
                  <section><h3> <%= link_to "#{question.title}", "/questions/#{question.id}", method: :get %></h3></section>
                  <p>
                      <%= link_to "#{question.text}", question_path(question), method: :get %>
                  </p>
                  <div class="qandaItemFooter">
                      <time><%= question.created_at %></time>
                      <a href="#"><%= question.answers.count %></a>
                      <a href="#"><%= question.impressions_count %></a>
                  </div>
              </article>
          </div>
      </div>
    <% end %>
    <div class="pagenation_design">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- コード追加　Bootstrap JavaScript読み込みコード-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <%= paginate(@questions) %>
    </div>
</div>
