<div class='container'>
  <nav class="myprNav">
    <ul class="MyNavWrap">
        <li><%= link_to "プロフィール", "/users/#{@user.id}", class: '' %></li>
        <li><%= link_to "質問一覧", "/my_question/#{@user.id}", class: 'my_question_list' %></li>
        <li><%= link_to "回答一覧", "/my_answer/#{@user.id}", class: '' %></li>
    </ul>
    </nav>

  <section><h3 class="arrowTtl"><%= @user.user_name %>さんの質問一覧</h3></section>
    <% @questions.each do |question| %>
      <div class="qandaWrap">
          <div class="qandaItem">
              <article>
                  <div class="qandaItemStatus">
                       <% if question.done.present? %>
                        <p class="answer">解決済み</p>
                       <% else %>
                        <p class="question">回答受付中</>
                       <% end %>
                      <div class="point_show"><div class="point_show3"><span class="point_show2"><%= question.point %></span></div></div>
                      <%= link_to "#{question.category.name}", "/questions/category/#{question.category_id}", class: "qandaItemStatusCat" %>
                  </div>
                  <section><h3> <%= link_to "#{question.title}", "/questions/#{question.id}", method: :get %></h3></section>
                  <p>
                      <%= link_to "#{question.text}", "/questions/#{question.id}", method: :get %>
                  </p>
                  <div class="qandaItemFooter">
                    <time><%= question.created_at.to_formatted_s(:without_second) %></time>
                    <p><%= question.answers.count %></p>
                    <p><%= question.impressions_count %></p>
                  </div>
              </article>
          </div>
      </div>
    <% end %>
</div>


