<h1>
  <%= link_to "プロフィール", "/users/#{@user.id}", class: '' %>
</h1>

<h1>
<%= link_to "質問一覧", "/my_question/#{@user.id}", class: '' %>
</h1>
<h1>〜さんの質問一覧</h1>
<% @questions.each do |question| %>
  <%= link_to "#{question.title}", "/questions/#{question.id}/", method: :get %>
<% end %>

<h1>
<%= link_to "回答一覧", "/my_answer/#{@user.id}", class: '' %>
</h1>


<div class='container'>
  <section><h3 class="arrowTtl">〜さんの質問一覧<</h3></section>
    <% @questions.each do |question| %>
      <div class="qandaWrap">
          <div class="qandaItem">
              <article>
                  <div class="qandaItemStatus">
                       <% if question.done.present? %>
                        <a href="#" class="answer">解決済み</a>
                       <% else %>
                        <a href="#" class="question">回答受付中</a>
                       <% end %>
                      <%= link_to "#{question.category.name}", "/questions/category/#{question.category_id}", class: "qandaItemStatusCat", method: :get %>
                  </div>
                  <section><h3> <%= link_to "#{question.title}", "/questions/#{question.id}", method: :get %></h3></section>
                  <p>
                      <%= link_to "#{question.text}", "/questions/#{question.id}", method: :get %>
                  </p>
                  <div class="qandaItemFooter">
                      <time><%= question.created_at %></time>
                      <a href="#"><%= question.answers.count %></a>
                      <a href="#">2</a>
                  </div>
              </article>
          </div>
      </div>
    <% end %>
</div>


