  <div class="container mypage">
    <nav class="myprNav">
        <ul class="user_setting">
            <li><%= link_to "本人情報", "/identification/#{current_user.id}", class: '' %></li>
            <li><%= link_to "銀行口座", "/bank/#{current_user.id}", class: '' %></li>
            <li><%= link_to "お礼", "/point/#{current_user.id}", class: 'point_info' %></li>
        </ul>
    </nav>

    <div class="point_info">
      <div class="point_all">
        <div class="point_some">
          <p>振込金額</p>
          <div>¥<%= @user.money %></div>
        </div>
        <%# <div class="payout_fee">振込手数料を別途差し引いた上でお振込を行います。（5万円未満：300円　5万円以上：500円）</div> %>
        <div class="pay_btn">
        <%= link_to "振込", "/payaout/#{@user.id}", method: :post %>
        </div>
      </div>
    </div>
  </div>
