  <div class="container mypage">
        <% if user_signed_in? && @user.id == current_user.id %>
                <nav class="myprNav">
                        <ul class="MyNavWrap">
                                <li><%= link_to "プロフィール", "/users/#{@user.id}", class: 'show_profile' %></li>
                                <li><%= link_to "質問一覧", "/my_question/#{@user.id}", class: '' %></li>
                                <li><%= link_to "回答一覧", "/my_answer/#{@user.id}", class: '' %></li>
                        </ul>
                </nav>
        <% end %>
        <% if  current_user.try(:admin?) %>
            <p class="admin_btn"><%= link_to "管理画面", "/admin" %></p>
        <% end %>
        <section><h3 class="arrowTtl"><%= @user.user_name %>さんのプロフィール</h3></section>
        <div class="container">
            <div class="myprNav mypr">
                  <div class="edit_pro">
                      <div class='user_info'>ユーザー名　　:</div>
                      <div class="centera"><%= @user.user_name %></div>
                  </div>
                  <div class="edit_pro">
                      <div class='user_info'>年齢　　　　　:</div>
                      <div class="centera">
                        <% if @user.age.nil? %>
                          <p>未入力</p>
                        <% else %>
                          <%= @user.age %>代
                        <% end %>
                      </div>
                  </div>
                  <div class="edit_pro">
                      <div class='user_info'>性別　　　　　:</div>
                      <div class="centera"><% if @user_sex == true %>
                                    <p>女性</p>
                              <% elsif @user_sex.nil? %>
                                <p>未入力</p>
                                <% else%>
                                <p>男性</p>
                              <% end %></div>
                  </div>
                  <div class="edit_pro">
                  <div class='user_info'>職業　　　　　:</div>
                  <div class="centera">
                    <% if @user.role.nil? or @user.role.empty? %>
                        <p>未入力</p>
                    <% else %>
                        <%= @user.role %>
                    <% end %>
                  </div>
                  </div>

                  <% if user_signed_in? && @user.id == current_user.id %>
                    <div class='pro_edit_btn'>
                        <%= link_to "編集する", "/users/#{current_user.id}/edit", class: 'user_edit_btn' %>
                    </div>
                  <% end %>


                  <div class="box1212">
                  <div class="box12">
                       <span class="box-title">自己紹介</span>
                         <p class="profile">
                            <% if @user.bio.nil? or @user.bio.empty? %>
                              <p class='no_profile'>未入力</p>
                            <% else %>
                              <%= @user.bio %>
                            <% end %>
                         </p>
                     </div>
                  </div>
            </div>
        </div>
</div>
