<%# 回答可能ページ %>

<div class=container>
  <section><h3 class="question_status">回答投稿</h3></section>
    <div class="qandaWrap">
      <div class="qandaItem">
          <article>
              <div class="_middle_items">
                  <div class='question_user'>
                    <%= image_tag  current_user.image, class: "question_user_image" %>
                    <%= link_to current_user.user_name, "/users/#{current_user.id}", class: "question_user_name" %>
                  </div>
              </div>

              <%# 回答フォーム %>
              <p>
                <div class='answer_form'>
                <%= form_for [@question, @answer] do |f| %>
                    <%= f.text_area :text, class: "answer_text_area", required: true, placeholder: "回答を入力してください(4000文字以内)" %><br>
                    <p><%= f.submit "答える", class: "answer_submit_btn", maxlength: '4000', data: { confirm: "回答を投稿しますか？"} %></p>
                  <% end %>
                  </div>
              </p>
              <%# ここまで %>

          </article>
      </div>
     </div>
</div>




  <div class=container>
    <section><h3 class="question_status">回答<%= @answers.count %>件</h3></section>
    <div class="qandaWrap">
      <% if @answers %>
        <% @answers.each do |answer| %>
          <div class="qandaItem ba_page">
            <article>
              <div class="qanda_middle_items answer_middle_items">
                <div class='question_user'>
                  <%= image_tag  answer.user.image, class: "question_user_image" %>
                  <%= link_to answer.user.user_name, "/users/#{answer.user_id}", class: "question_user_name" %>
                 </div>
                <time><%= answer.created_at.to_formatted_s(:without_second) %></time>
               </div>
              <%= simple_format(answer.text) %>
             </article>
           </div>
         <% end %>
       <% end %>
     </div>
    </div>
