<%# ベストアンサー選定ページ %>
  <div class=container>
    <section><h3 class="question_status">回答<%= @answers.count %>件</h3></section>
    <div class="qandaWrap">
      <% if @answers %>
        <% @answers.each do |answer| %>
          <div class="qandaItem ba_page">
            <article>
              <div class="qanda_middle_items answer_middle_items">
                <div class='question_user'>
                  <%= image_tag  answer.user.image, class: "question_user_image" %>
                  <%= link_to answer.user.user_name, "/users/#{answer.user_id}", class: "question_user_name" %>
                 </div>
                <time><%= answer.created_at.to_formatted_s(:without_second) %></time>
               </div>
              <%= simple_format(answer.text) %>

                <div class="qandaWrapCat ba_btn">
                  <ul>
                    <li><%= link_to "ベストアンサーに選ぶ", "#{@question.id}/answers/#{answer.id}/ba_confirm", class: 'link_ba_btn' %></li>
                  </ul>
                 </div>
             </article>
           </div>
         <% end %>
       <% end %>
     </div>
    </div>
