<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QOTAELU</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= analytics_init if Rails.env.production? %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="headerWrap">

            <h1 class="logo"><a href="/"><%= image_tag("h_logo.jpg", alt: "QOTAELU") %></a></h1>
            <!-- pc search -->
            <div class="search">
              <%= search_form_for(@search, url: search_search_index_path, class: "searchForm") do |f| %>
                <%= f.text_field :title_cont ,placeholder: 'キーワード検索', value: '' %>
                <%= f.submit ("") , class: 'search-btn', value: '' %>
              <% end %>
            </div>

  <% if user_signed_in? %>
    <!-- *ログインの場合 -->
    <div class="account">

        <div id="dropdown">
            <drop-down
                class="dropdown"
                nick-name="<%= current_user.nickname %>"
                :user-id="<%= current_user.id %>"
             />
        </div>

        <a href="/" class="noticeLinkBtn"><span>1</span></a>
        <a href="/" class="pointLinkBtn"><span>100</span></a>

        <div id="humberger" class="sp">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>

      </div>

    </div>

    <div id="drawernav" class="sp">
        <div class="container">
            <nav>
                <ul>
                  <li><%= link_to "マイページ", "/users/#{current_user.id}", class: 'item' %></li>
                  <li><%= link_to "アカウント設定", "/", class: 'item' %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'item' %></li>
                </ul>

                <section><h3>みんなの&amp;A</h3></section>
                <ul>
                    <li><%= link_to "ランキング", questions_ranking_path, class: '' %></li>
                    <li><%= link_to "回答受付中", questions_open_path, class: '' %></li>
                    <li><%= link_to "カテゴリ", category_index_path, class: '' %></li>
                </ul>
            </nav>
        </div>
    </div>


  <% else %>
    <!-- *未ログインの場合 -->
        <div class="account">
            <%= link_to "ログイン", new_user_session_path, class: 'loginLinkBtn' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'signupLinkBtn' %>
            <div id="humberger" class="sp">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
        </div>

    </div>

    <div id="drawernav" class="sp">
        <div class="container">
            <nav>
                <ul>
                    <li><%= link_to "ログイン", new_user_session_path, class: '' %></li>
                    <li><%= link_to "新規登録", new_user_registration_path, class: '' %></li>
                </ul>

                <section><h3>みんなの&amp;A</h3></section>
                <ul>
                    <li><%= link_to "ランキング", questions_ranking_path, class: '' %></li>
                    <li><%= link_to "回答受付中", questions_open_path, class: '' %></li>
                    <li><%= link_to "カテゴリ", category_index_path, class: '' %></li>
                </ul>
            </nav>
        </div>
    </div>


  <% end %>

  <!-- *main navigation -->
        <nav class="mainNav">
            <ul class="mainNavWrap">
                <li><%= link_to "カテゴリ", category_index_path, class: '' %></li>
                <li><%= link_to "ランキング", questions_ranking_path, class: '' %></li>
                <li><%= link_to "回答受付中", questions_open_path, class: '' %></li>
            </ul>
        </nav>

        <!-- sp search -->
        <div class="spSearch">
            <%= form_tag('/', method: :get, class: "searchForm") do %>
                <input name="keyword" size="25" placeholder="質問を検索" type="text" value="">
                <input type="submit" value="">
            <% end %>
        </div>

    </header>


    <%= yield %>

    <button class="new_question_btn">
      <p class="new_question_btn2"><%= link_to "相談する", new_question_path %></p>
    </button>


       <!-- footer -->
    <footer class="footer">
        <div class="footerWrap">

            <a href="/" class="footerLogo sp"><%= image_tag("f_logo.png", alt: "QOTAELU") %></a>

            <nav class="footerNav">
                <ul>
                    <li><section><h4>QOTAELUについて</h4></section></li>
                    <li><a href="/">運営会社</a></li>
                    <li><%= link_to "ヘルプ", help_path, class: '' %></li>
                    <li><%= link_to "お問い合わせ", contact_path, class: '' %></li>
                </ul>
                <ul>
                    <li><section><h4>プライバシーと利用規約</h4></section></li>
                    <li><%= link_to "プライバシーポリシー", privacy_policy_path, class: '' %></li>
                    <li><%= link_to "利用規約", rule_path, class: '' %></li>
                </ul>
                <ul>
                    <li><section><h4>SNS</h4></section></li>
                    <li><a href="/">Facebook</a></li>
                    <li><a href="/">Twitter</a></li>
                </ul>
            </nav>

            <a href="/" class="footerLogo pc"><%= image_tag("f_logo.png", alt: "QOTAELU") %></a>


            <small class="copyright">&copy; 2019 QOTAELU.</small>

        </div>
    </footer>
  </body>
</html>




        <script>
      ;(function($){
        var touch = false;
        $('#humberger').on('click touchstart',function(e){

            switch (e.type) {
                case 'touchstart':
                    drawerToggle();
                    touch = true;
                    return false;
                break;
            }
            function drawerToggle(){
                $('body').toggleClass('drawer-opened');
                touch = false;
            }
        })
        $('#overlay').on('click touchstart',function(){
            $('body').removeClass('drawer-opened');
        })
      })(jQuery);
    </script>
